/Tides/TPXO9/DATA/grid_tpxo9v2
/Tides/TPXO9/DATA/h_tpxo9.v2
/Tides/TPXO9/DATA/u_tpxo9.v2

/Input_files/CK_north/merged_WGS84.tif

/Input_files/CK_south/merged_WGS84.tif

/Input_files/SA/merged_WGS84.tif

/Input_files/TO/merged_WGS84.tif

/Input_files/VU/merged_WGS84.tif